eth-abi==2.2.0
eth-keys==0.3.4
eth-account==0.5.9
requests==2.28.2
dataclasses-json==0.5.7
prometheus-client==0.15.0
git+https://github.com/bifrost-platform/solidity-contract-configs@0.2.11
python-dotenv==0.21.0
jsonpath-ng

jsonrpcserver
fastapi
uvicorn
starlette
psutil
